.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal_main {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 16px;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.display_block {
    display: block;
}

.display_none {
    display: none;
}

.closeButton {
    cursor: pointer;
}


.pTag{

}

.Invalid{
    color: red;
}

.Valid{
    color: green;
}