.div__Footer{
    /*position: fixed;*/
    /*bottom: 0;*/
    background-color: rgb(49,52,54);
    color: rgb(114,120,125);
    height: 60px;
    width: 1280px;
    display: flex;
    justify-content: center;
    /*vertical-align: auto;*/
    flex-direction: column;
    text-align: center;
    margin-bottom: -8px;
    user-select: none;
}