.Header {
    background-color: white;
    height: 65px;
    padding-left: 5px;
}

.Navbar {
    text-align: right;
    margin-right: 6em;
}

.menu__row {
    /*list-style: none;*/
}

.menu__list {
    display: inline;
    padding: 0 25px;
}

.menu__link {
    text-decoration: none;
}

.menu__link:link, .menu__link:visited {
    color: black;
}

.menu__link:hover {
    color: rgb(14, 186, 197);
    transition: 0.3s;
}

.menu__logo {
    color: rgb(14, 186, 197);
    font-size: 120%;
    user-select: none;
    float: right;
    margin-top: -51px;
    margin-right: -58px;
    text-decoration: none;
}


.dropdownContentInMenu{
    padding-top:15px;
    display: none;
    width: 200px;
    z-index: 1;
    position: absolute;
    border-radius: 4px;
}

.loginButton{
    z-index: 2;
}

.loginButton:hover .dropdownContentInMenu{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}

.dropdownContentInMenu a:hover{
    background-color: lightblue;
    border-radius: 4px;
}
