.Signup {
    /*border: 1px solid green;*/
    background-color: rgb(247, 247, 247);
    height: 100%;
}


.grid_container {
    /*border: 1px solid red;*/
    display: grid;
    /*height: 570px;*/
    height: 635px;
    align-content: center;
    grid-template-areas:
    "formHeader formHeader"
    "labeledInputFamilyName labeledInputName"
    "labeledInputPassword labeledInputEmail"
    "labeledInputAddress labeledInputAddress"
    "signupButton signupButton";
    gap: 15px;
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: 1fr 1fr 1fr;*/
}

.formHeader {
    grid-area: formHeader;
    /*border: 1px solid black;*/
    text-align: center;
    margin-bottom: 30px;
    color: rgb(14, 186, 197);
    /*grid-row-start: 1;*/
    /*grid-row-end: 3;*/
    font-size: 20px;
}


.signupButton {
    grid-area: signupButton;
    /*grid-row-start: 2;*/
    /*grid-row-end: 3;*/
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
    width: 140px;
}


/*.labelClassname{*/
/*    width: 72px;*/
/*}*/


.labeledInputName {
    grid-area: labeledInputName;
    /*border: 1px solid black;*/
}

.labeledInputFamilyName {
    grid-area: labeledInputFamilyName;
    /*border: 1px solid red;*/
}

.labeledInputEmail {
    grid-area: labeledInputEmail;
    /*border: 1px solid blue;*/
}

.labeledInputPassword {
    grid-area: labeledInputPassword;
    /*border: 1px solid yellowgreen;*/
}

.labeledInputAddress {
    grid-area: labeledInputAddress;
    /*border: 1px solid fuchsia;*/
}


.footerHereInSignup {
    position: absolute;
    /*bottom: 0em;*/
    bottom: -1em;
}

.headerModal {
    float: right;
}

.h2Tag {
    text-align: center;
    margin-right: -647px;
}

.h2Tag > a {
    text-decoration: none;
    color: rgb(14, 186, 197);
}