* {
    /*margin: 0;*/
}


.grid_container {
    background-color: rgb(247,247,247);
    color: black;
    font-size: 25px;
    padding: 20px;
    display: grid;
    grid-template-columns: 260px 100px;
    /*grid-template-rows: 80px 20px 80px;*/
    row-gap: 20px;
    justify-content: center;
    height: 100%;
    /*width: 70%;*/
    align-items: center;
}


.grid_header{
    grid-column-start: 2;
    grid-column-end: 3;
    color: rgb(14,186,197);
}

.grid_item {
    /*background-color: salmon;*/
    font-size: 15px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    grid-column-start: 1;
    grid-column-end: 2;
}

/*.email_input {*/

/*}*/

.label_item {
    background-color: rgb(14,186,197);
    font-size: 15px;
    text-align: center;
    align-content: center;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    height: 22px;
    color: white;
}

.password_input, .email_input {
    border-radius: 10px 0 0 10px;
    border: none;
    width: 256px;
    height: 50px;
    direction: rtl;
}


.login_button{
    /*align-items: center;*/
    /*justify-content: center;*/
    grid-column-start: 2;
    grid-column-end: 4;
}


.footerHere{
    position: fixed;
    bottom: 0;
}