.searchBtn{
    background-color: gold;
    border: none;
    border-radius: 24px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    margin-top: 70px;
    margin-bottom: 20px;
}

.searchBtn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}