.LoginButton{
    background-color: white;
    border: 3px solid gold;
    border-radius: 24px;
    padding: 5px 20px 5px 20px;
    float: left;
    margin-left: 1em;
    margin-top: 1px;
    cursor: pointer;
    margin-bottom: calc(-50% - 20px);
}

.LoginButton:hover{
    background-clip: padding-box;
    background-color: gold;
    color: black;
    transition: 0.3s;
}