
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 74px;
    background: rgb(238, 238, 238);
    margin: 100px auto 0;
    word-break: break-all;
    border: 2px solid rgb(138, 138, 138);
    border-radius: 25px;
}

.block_tabs {
    display: flex;
}

.tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    height: 45px;
    /*background: rgba(128, 128, 128, 0.075);*/
    cursor: pointer;
    border-bottom: 2px solid rgb(138, 138, 138);
    box-sizing: content-box;
    position: relative;
    outline: none;
    color: rgb(138, 138, 138);
    /*border-radius: 25px 0 0 25px;*/
}

.tabs:first-child{
    border-radius: 25px 0 0 25px;
}

.tabs:last-child{
    border-radius: 0 25px 25px 0;
}

/*.tabs:not(:last-child) {*/
/*    border-right: 1px solid red;*/
/*}*/

.active_tabs {
    background: rgb(238, 238, 238);
    color: #282c34;
    border-bottom: 2px solid rgb(138, 138, 138);
    border-radius: 25px;
    /*border: none;*/
}

/*.active_tabs::before{*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: -5px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    width: calc(100% + 2px);*/
/*    height: 5px;*/
/*    background: rgb(88, 147, 241);*/
/*}*/

button {
    border: none;
}

.content_tabs {
    flex-grow: 1;
}

.content {
    background: rgb(238, 238, 238);
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}

.active_content {
    display: block;
}
